@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base
{
    mjx-container.MathJax[jax="SVG"],
    mjx-container.MathJax_inline[jax="SVG"],
    mjx-nobr
    {
      display: inline !important;
      white-space: nowrap !important;
      overflow-wrap: normal !important;
      word-break: normal !important;
    }
    
    mjx-container.MathJax[jax="SVG"] > svg,
    mjx-container.MathJax_inline[jax="SVG"] > svg
    {
      display: inline !important;
    }
}
